version: 2.1

jobs:
  build:
    docker:
      - image: alexfalkowski/go:2.93
        environment:
          GOEXPERIMENT: greenteagc
      - image: postgres:18-trixie
        environment:
          POSTGRES_DB: test
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
      - image: valkey/valkey:9
      - image: alexfalkowski/status:latest
        command: server -i env:CONFIG
        environment:
          CONFIG: yml:ZW52aXJvbm1lbnQ6IGRldmVsb3BtZW50CmhlYWx0aDoKICBkdXJhdGlvbjogMXMKICB0aW1lb3V0OiAxcwppZDoKICBraW5kOiB1dWlkCnRlbGVtZXRyeToKICBsb2dnZXI6CiAgICBraW5kOiB0ZXh0CiAgICBsZXZlbDogaW5mbwp0cmFuc3BvcnQ6CiAgaHR0cDoKICAgIGFkZHJlc3M6IHRjcDovLzo2MDAwCiAgICByZXRyeToKICAgICAgYmFja29mZjogMTAwbXMKICAgICAgdGltZW91dDogMXMKICAgICAgYXR0ZW1wdHM6IDMKICAgIHRpbWVvdXQ6IDEwcwogICAgdXNlcl9hZ2VudDogIlN0YXR1cy1zZXJ2ZXIvMS4wIGh0dHAvMS4wIgo=
      - image: grafana/mimir:latest
        command: -server.http-listen-port=9009 -auth.multitenancy-enabled=false -ingester.ring.replication-factor=1
    working_directory: ~/go-service
    steps:
      - checkout:
          method: blobless
      - restore_cache:
          name: restore go cache
          keys:
            - go-service-go-cache-v2-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - go-service-go-cache-v2-
      - restore_cache:
          name: restore go build cache
          keys:
            - go-service-go-build-cache-v2-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
            - go-service-go-build-cache-v2-
      - restore_cache:
          name: restore go lint cache
          keys:
            - go-service-go-lint-cache-v2-{{ checksum "go.sum" }}-{{ checksum "~/.go-lint-version" }}-{{ checksum ".source-key" }}
            - go-service-go-lint-cache-v2-
      - run: git submodule sync
      - run: git submodule update --init
      - run: make source-key
      - run: mkcert -install
      - run: make create-certs
      - run: dockerize -wait tcp://localhost:5432 -wait tcp://localhost:6379 -wait tcp://localhost:6000 -wait tcp://localhost:9009 -timeout 1m
      - run: make clean
      - run: make dep

      - run: make clean
      - run: make lint
      - run: make sec
      - run: make specs
      - run: make benchmarks
      - run: make coverage
      - store_test_results:
          path: test/reports
      - store_artifacts:
          path: test/reports
      - run: make codecov-upload
      - save_cache:
          name: save go cache
          key: go-service-go-cache-v2-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/go/pkg/mod
      - save_cache:
          name: save go lint cache
          key: go-service-go-lint-cache-v2-{{ checksum "go.sum" }}-{{ checksum "~/.go-lint-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/.cache/golangci-lint
      - save_cache:
          name: save go build cache
          key: go-service-go-build-cache-v2-{{ checksum "go.sum" }}-{{ checksum "~/.go-version" }}-{{ checksum ".source-key" }}
          paths:
            - ~/.cache/go-build
    resource_class: large
  version:
    docker:
      - image: alexfalkowski/release:5.37
    working_directory: ~/go-service
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: version
    resource_class: large

workflows:
  go-service:
    max_auto_reruns: 3
    jobs:
      - build
      - version:
          context: gh
          requires:
            - build
          filters:
            branches:
              only: master
