{{ define "content" }}
<h1>{{ .Model.Title | quote }}</h1>
<ul>
    {{ range .Model.Todos }}
        {{ if .Done }}
            <li class="done">{{ .Title }}</li>
        {{ else }}
            <li>{{ .Title }}</li>
        {{ end }}
    {{ end }}
</ul>
{{ end }}
